.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: #D2647A;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
}

