.container {
    background-color: #5F7080;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 800px;
};

.teams {
    color: #D2647A;
    font-weight: 200;
    font-size: xx-large;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    background-color: #D2647A; 
}

